/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */
body {
  background-image: url("/resources/images/logo_256.png");
  background-repeat: no-repeat;
  background-position: 50% 300px;
  background-attachment: fixed;
}
